* {
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    width: 100vw;
    height: 100vh;
    background-image: url('../../pictures/fon.jpg');
    background-size: cover;
    background-position: center 40%;
    align-items: flex-end;
    justify-content: flex-end;
    z-index: 200;
}
.buttonNavlink{
    margin: 0 8% 8% 0;
}
.button {
    padding: 15px 40px;
    border: 1px solid white;
    background-color: rgb(255, 255, 255, 0);
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    letter-spacing: 2px;
    cursor: pointer;
}
.button:hover {
    background-color: rgb(6, 50, 65);
    border: none;
}
